/* body */
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.container {
  background-color: #9cbbec;
}

/**********************/
/* search field style */
/**********************/
.search-field {
  width: 100%;
  border: none;
  border-radius: 50px;
  outline: none;
  padding: 7px 15px;
  font-size: 18px;
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-field button {
  border-radius: 50px;
  padding: 7px 30px;
  background-color: #0376d3;
  border: none;
  color: white;
  font-size: 18px;
}
.search-button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.7s;
}
.search-button:hover {
  background-color: #0061b1;
}
.search-box {
  border: 1px solid #0376d3;
  width: 40%;
  border-radius: 50px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 30px;
  position: relative;
}

/**********************/
/*   all card style   */
/**********************/
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 7px;
  margin: 5px;
  border-radius: 15px !important;
  width: 270px;
  min-height: 615px;
  background-image: linear-gradient(
    to bottom right,
    #ffffff,
    #e0fbfc
  ) !important;
}
.single-product:hover {
  transform: scale(1.01);
  transition: transform 0.4s ease;
  box-shadow: 4px 4px 7px #0063b1;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 15px;
}
.product-image img {
  width: 180px;
  height: 180px;
}

/**********************/
/*     cart style     */
/**********************/
.cart {
  width: 350px;
  border: 1px solid #0026ff;
  padding: 10px;
  box-shadow: 10px 10px 20px rgb(61, 61, 61);
  border-radius: 10px;
  margin-right: 30px;
  position: fixed;
  background-color: #0064b160;
}

.cart-main {
  padding-right: 30px;
  color: white;
}

/**************************/
/* The Modal (background) */
/**************************/
.modal-background {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

/**************************/
/*      Modal Content     */
/**************************/
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 60% !important;
}

/**************************/
/*    The Close Button    */
/**************************/
.close {
  display: block;
  margin-left: auto;
  width: 25%;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#modal-buy-now {
  background-color: #000000aa;
}

/**************************/
/*   media section style  */
/**************************/
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .cart {
    width: 300px;
    border: 1px solid green;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 10px;
    margin-right: 30px;
    position: fixed;
  }

  .cart-main {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
